<div class="flex w-full flex-col items-center gap-8">
  <%- include('../../components/title', {size: 'lg'}) %>
  <div class="form-card flex flex-col gap-4">
    <h2 class="text-xl font-semibold whitespace-nowrap">Profile Info</h2>
    <%- include('../../forms/registerProfile') %>
  </div>
</div>
