<div class="grid-container relative">
  <div
    class="grid-sizer w-full lg:w-[calc((100%-8px)/2)] 2xl:w-[calc((100%-16px)/3)]"
  ></div>
  <% posts.forEach(post => { %>
  <!--prettier-ignore-->
  <%- include('../../components/postCardFeed', {post}) %>
  <% }) %>
</div>
