<div
  class="flex w-full flex-col gap-4 xl:relative xl:h-[calc(100vh_-_96px)] xl:flex-row xl:overflow-hidden"
>
  <div class="flex flex-col gap-4 xl:flex-1 xl:overflow-y-auto xl:px-1 xl:pb-3">
    <!--prettier-ignore-->
    <%- include('../../components/postCardById', {post}) %>
    <%- include('../../forms/comment', {postId: post.id}) %>
  </div>
  <hr
    class="h-px border-0 bg-gray-300 xl:h-full xl:w-px xl:flex-none xl:self-stretch dark:bg-gray-600"
  />
  <!--prettier-ignore-->
  <% if (post.post_comments.length > 0) { %>
  <div
    class="flex flex-col gap-2 xl:-ms-3 xl:flex-1 xl:overflow-y-auto xl:px-3 xl:pb-3"
  >
    <% post.post_comments.forEach(comment => { %>
    <!--prettier-ignore-->
    <%- include('../../components/commentCardById', {comment}) %>
  <% }) %>
  </div>
  <% } else { %>
  <div class="flex items-center justify-center xl:flex-1">
    <p class="px-2 py-4 text-center">Be the first to leave a comment!</p>
  </div>

  <% } %>
</div>
