<!DOCTYPE html>
<html lang="en" class="min-w-80 text-gray-900 dark:text-white">
  <%- include('../partials/head') %>
  <body class="flex min-h-screen flex-col bg-white dark:bg-gray-800">
    <%- include('../partials/nav') %>

    <!-- Main content container -->
    <div class="grow">
      <%- include('../partials/sidebar') %>
      <div class="min-h-full bg-white p-4 text-gray-900 sm:ml-64">
        <%- include(`../pages/${page}`) %>
      </div>
    </div>
    <% if (page === 'profile/edit') { %>
    <script src="/js/adminCheck.js" defer></script>
    <% } %>
  </body>
</html>
