<!DOCTYPE html>
<html lang="en" class="min-w-80 text-gray-900 dark:text-white">
  <%- include('../partials/head') %>
  <body class="flex min-h-screen flex-col bg-white dark:bg-gray-800">
    <%- include('../partials/nav') %>

    <!-- Main content container -->
    <div class="grow">
      <%- include('../partials/sidebar') %>
      <div
        class="min-h-full bg-white p-4 text-gray-900 sm:ml-64 dark:bg-gray-800"
      >
        <%- include(`../pages/${page}`) %>
      </div>
    </div>
    <script src="/js/darkModeToggle.js"></script>
    <% if (page === 'profile/edit') { %>
    <script src="/js/adminCheck.js"></script>
    <% } %> <% if (page === 'posts/all') { %>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="/js/masonry.js"></script>
    <% } %>
  </body>
</html>
