<!DOCTYPE html>
<html lang="en" class="min-w-80 text-gray-900 dark:text-white">
  <%- include('../partials/head') %>
  <body class="flex min-h-screen flex-col bg-white dark:bg-gray-800">
    <%- include('../partials/nav') %>

    <!-- Main content container -->
    <div class="flex flex-1 flex-col">
      <%- include('../partials/sidebar') %>
      <main class="flex min-h-0 flex-1 p-4 sm:ml-56 lg:ml-64">
        <%- include(`../pages/${page}`) %>
      </main>
    </div>

    <script src="/js/darkModeToggle.js"></script>
    <% if (page === 'profile/edit') { %>
    <script src="/js/adminCheck.js"></script>
    <% } %> <% if (page === 'posts/all') { %>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="/js/masonry.js"></script>
    <% } %> <% if (page === 'profile/view') { %>
    <script src="/js/profileButtonToggle.js" defer></script>
    <% } %>
  </body>
</html>
