<button
  id="new-post-btn"
  aria-label="new post button"
  type="button"
  data-modal-target="new-post-modal"
  data-modal-toggle="new-post-modal"
  class="bg-logo-500/90 hover:bg-logo-500 fixed end-6 bottom-6 flex h-18 w-18 items-center justify-center rounded-full text-white focus:ring-4 focus:ring-blue-300 focus:outline-none lg:h-16 lg:w-16"
>
  <svg
    class="h-6 w-6 transition-transform group-hover:rotate-45 lg:h-5 lg:w-5"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 18 18"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 1v16M1 9h16"
    />
  </svg>
</button>
