<div class="post-card flex flex-col justify-between gap-2">
  <div class="flex items-center justify-start gap-2">
    <a
      href="/view/posts/<%= comment.post_id %>"
      class="group flex items-center gap-1 text-sm font-semibold"
    >
      <span>&lt;&lt;</span
      ><span class="line-clamp-1 group-hover:underline"
        ><%= comment.post_title %></span
      >
    </a>
  </div>
  <p class=""><%= comment.message %></p>
  <time class="self-end text-sm"><%= formatDate(comment.added) %></time>
</div>
