<!--prettier-ignore-->
<% 
// Normalize errors
let errorMsgs = [];

if (messages.error && messages.error.length > 0) {
  errorMsgs = messages.error;
} else if (typeof errors !== 'undefined' && errors.length > 0) {
  errorMsgs = errors.map(e => e.msg);
}
%>

<% if (errorMsgs.length > 0) { %>
<ul class="flex list-inside list-disc flex-col gap-2 text-sm text-red-600">
  <% errorMsgs.forEach(msg => { %>
  <li><%= msg %></li>
  <% }); %>
</ul>
<% } %>
