<form action="/add/post" method="post" class="flex flex-col gap-4">
  <%- include('../components/formErrors') %>
  <div class="flex flex-col gap-3">
    <!--prettier-ignore-->
    <%- include('../components/formInput', {type: 'text', id: 'title', label: 'Title', value: formData.title, required: true}) %>
    <%- include('../components/formTextarea', {id: 'message', label: 'Message', value: formData.message, rows: 6, maxLength: 5000}) %>
  </div>
  <!--prettier-ignore-->
  <%- include('../components/button', {type: 'submit', label: 'Submit'}) %>
</form>
